.skill {
    width: 300px;
    /*background-color: #d5d1d1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 30px;*/
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 3%;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #252323;
    margin: 5px;
}

/*.container {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background: #222;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*}*/

.skills h2 {
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

.progressBar {
    background: #959595;
    width: 350px;
    height: 10px;
    border-radius: 5px
}

.progressBar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;

}

.progressBar div span {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -14px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.html {
    background: #e86723;
    animation: html 1s linear forwards;
}

.axios {
    background: #e86723;
    animation: axios 1s linear forwards;
}

.javascript {
    background: #e86723;
    animation: javascript 1s linear forwards;
}

.redux {
    background: #e86723;
    animation: redux 1s linear forwards;
}

.react {
    background: #e86723;
    animation: react 1s linear forwards;
}
.git {
    background: #e86723;
    animation: git 1s linear forwards;
}


.html span {
    border: 1px solid #e91e63;
}

.axios span {
    border: 1px solid #cddc39;
}

.javascript span {
    border: 1px solid #00bcd4;
}

.redux span {
    border: 1px solid #ffed3d;
}

.react span {
    border: 1px solid #9c27b0;
}

.git span {
    border: 1px solid #9c27b0;
}

@keyframes html {
    100% {
        width: 100%;
    }
}

@keyframes axios {
    100% {
        width: 80%;
    }
}

@keyframes javascript {
    100% {
        width: 86%;
    }
}

@keyframes redux {
    100% {
        width: 70%;
    }
}

@keyframes react {
    100% {
        width: 75%;
    }
}
@keyframes git {
    100% {
        width: 90%;
    }
}