.skillsBlock{
    min-height: 85vh;
    background-color: #ffffff;
    .skillsContainer{
        justify-content: flex-start;
        flex-direction: column;
        .skills{
            //border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width:  800px) {
                justify-content: center;
            }
        }
    }
}




