.footer{
    min-height:100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerWrapper{
    height: 80px;
    display: flex;
    margin: 20px;
}