.projectBlock {
    /*min-height: 100vh;*/
    background-color: #cdf64f;
    /*flex-wrap: wrap;*/
    padding: 100px 0;
}

.projectContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}


.projects {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
